<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8">
    <title>Hopital</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.6.4/jquery.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" th:href="@{/index}">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Patients
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" th:href="@{/formPatient}">New</a>
            <a class="dropdown-item" th:href="@{/index}">List</a>
          </div>
        </li>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
    </div>
  </nav>
    <div layout:fragment="content">
    </div>
  </body>
</html>